<%-include('partials/admin-header')-%>
<div class="container">
<div class="container">
    <div class="row">
      <div class="d-flex justify-content-end"> 
        <div>
          <a class="btn btn-dark" href="/admin/logout">logout</a>
        </div>
      </div>
        <div class="col-9"><h2>ADMIN-HOME</h2></div>
        
        

        <div class="container d-flex justify-content-between" id="reportPage">

        

          <div class="col-md-4 card  " style=" background-color: #E0E0E0;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
            <div class=" ms-2 text-center">
              <h5>Orders</h5>
              <span><%=order%></span>
  
            </div>
           
          </div>
          <div class="col-md-4 card ms-2  " style=" background-color: #E0E0E0;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
            <div class=" ms-2 text-center">
              <h5>Users</h5>
              <span><%=user%></span>
  
            </div>
           
          </div>
       

          <div class="col-md-4 card ms-2 " style="background-color: #E0E0E0; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
            <div class=" text-center">
              <h5>products</h5>
              <span><%=products%></span>
  
            </div>
           
          </div>
        


        </div>

       
        <div class="col-4"></div>
        <div class="col-6"></div>
      </div>
</div>

<div class=" d-flex justify-content-between mt-4">

  <div class=" col-6 card  bg-light " style="background-color: #E0E0E0 !important; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
    <div class="col">
      <h2>DayWise:</h2>
      <canvas id="myChart"></canvas>
    </div>

  </div>
  <div class=" col-6 card  bg-light ms-4 " style="background-color:#E0E0E0 !important; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
    <div class=" ms-4">
      <h2>WeekWise:</h2>
      <canvas id="week"></canvas>
    </div>
    <div class="card-img-overlay">
      
    </div>
  </div>
 
  
</div>
  <!-- Line Graph -->

<div class="container">
  <!--Grid row-->
<div class="row d-flex  mt-4 mb-5">
  

  <!--Grid column-->
  <div class="col-12 card  bg-light " style="background-color:#E0E0E0 !important; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
    <div class="col-md-10">
      <h2>YearWise:</h2>
  
      <canvas id="year"></canvas>
  
    </div>
  </div>
  <!--Grid column-->

</div>
<!--Grid row-->
</div>
<a href="#" id="downloadPdf">Download Report Page as PDF</a>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js "></script>
<script>


 fetch('/admin/graphdata',{
  method:'get',
 }).then(val=>{
  return val.json()
 }).then(data=>{
  console.log(data.weekXaxis);


var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: data.weekYaxis,
      // labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      datasets: [{
        label: '# of Votes',
        // data: ["2","3","4"],
        data: data.weekXaxis,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });


  ///WEEK

  var ctx = document.getElementById("week").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: data.MonthYaxis,
      datasets: [{
        label: '# of Votes',
        data: data. MonthXaxis,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
    ///////year

    var ctx = document.getElementById("year").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: data.yearYaxis,
      datasets: [{
        label: '# of Votes',
        data: data. yearXaxis,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });

})

  //
  $('#downloadPdf').click(function(event) {
  // get size of report page
  var reportPageHeight = $('#reportPage').innerHeight();
  var reportPageWidth = $('#reportPage').innerWidth();
  
  // create a new canvas object that we will populate with all other canvas objects
  var pdfCanvas = $('<canvas />').attr({
    id: "canvaspdf",
    width: reportPageWidth,
    height: reportPageHeight
  });
  
  // keep track canvas position
  var pdfctx = $(pdfCanvas)[0].getContext('2d');
  var pdfctxX = 0;
  var pdfctxY = 0;
  var buffer = 100;
  
  // for each chart.js chart
  $("canvas").each(function(index) {
    // get the chart height/width
    var canvasHeight = $(this).innerHeight();
    var canvasWidth = $(this).innerWidth();
    
    // draw the chart into the new canvas
    pdfctx.drawImage($(this)[0], pdfctxX, pdfctxY, canvasWidth, canvasHeight);
    pdfctxX += canvasWidth + buffer;
    
    // our report page is in a grid pattern so replicate that in the new canvas
    if (index % 2 === 1) {
      pdfctxX = 0;
      pdfctxY += canvasHeight + buffer;
    }
  });
  
  // create new pdf and add our new canvas as an image
  var pdf = new jsPDF('l', 'pt', [reportPageWidth, reportPageHeight]);
  pdf.addImage($(pdfCanvas)[0], 'PNG', 0, 0);
  
  // download the pdf
  pdf.save('filename.pdf');
});

</script>


 <%-include('partials/admin-footer')-%>
 