<%-include('partials/admin-header')-%>
<div class="container">

<button class="btn btn-primary mt-4 ms-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Add coupon
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body"  style="background-color: #c4c4c4;">
   <form action="/admin/coupon" method="post">
    <input type="text" name="name" placeholder="Coupon Name">
    <input type="number" name="discount" placeholder="Discount in %"><br><br>
    <label>Expiry Date</label><br>
    <input type="date" name="expirydate">
    <button class="btn btn-success">Add</button>
   </form>
  </div>
</div>


  <div class="row mt-4">

    <div class="col-12 card mb-4  bg-light  d-flex align-items-center " style="background-color:#E0E0E0 !important; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="col-md-10 mt-4 mb-2">
          
            <table class="table table-striped nowrap" id="form">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Discount in %</th>
                        <th class="text-center" scope="col">Expirydate</th>
                       
                    </tr>
                </thead>
                <tbody>
                   <%for(i=0;i<coupons.length;i++){%>
                    <tr>
                        <th scope="row"><%=i+1%></th>
                        <td><%=coupons[i].name%></td>
                        <td><%=coupons[i].discount%></td>
                        <td><%=coupons[i].expirydate%></td>
                              
                        
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
      </div>
      
  </div>
  
</div>

<%-include('partials/admin-footer')-%>