<%-include('partials/header')-%>


<section>
  <div class="container">
      
      <div class="row">
          <table class="table  table-striped nowrap" id="example">
              <thead class="my-5 bg-dark text-white mx-2">
                  <tr>
                      <th scope="col">No</th>
                      <th scope="col">Date</th>
                      <th scope="col">Address</th>
                      <th scope="col">pincode</th>
                      <th scope="col">Mobile</th>
                      <th scope="col">Amount</th>
                      <th scope="col">status</th>
                      <th scope="col">Action</th>
                     
                  </tr>
              </thead>
              <tbody>
                 <%for(i=0;i<orders.length;i++){%>
                  <tr>
                      <th scope="row"><%=i+1%></th>
                      <td><%=orders[i].date%></td>
                      <td><%=orders[i].deliveryDetails.address%></td>
                      <td><%=orders[i].deliveryDetails.pincode%></td>
                      <td><%=orders[i].deliveryDetails.mobile%></td>
                      <td><%=orders[i].totalAmount[0].total%></td>

                      <%if(orders[i].status!='Cancelled'){%>
                      <td><span class="text-success font-weight-bold"><%=orders[i].status%></span></td>
                      <%}else{%>
                        <td><span class="text-danger font-weight-bold"><%=orders[i].status%></span></td>
                        
                        <%}%>
                     
                      <td><a href="/view-order-products/<%=orders[i]._id%>" class="btn btn-dark">View Products</a>
                        
                        </td>
                        <%if(orders[i].status!='Cancelled'){%>
                        <td><a href="/cancel-order/<%=orders[i]._id%>" class="btn btn-danger">Cancel</a></td>
                          <%}%>  
                      
                  </tr>
                  <%}%>
              </tbody>
          </table>
      </div>

  </div>
</section>

<%-include('partials/footer')-%>