<!-- Navbar -->
<%-include('partials/header')-%>

  <!-- Navbar -->

  <!--Main layout-->
  <main class="mt-5 pt-4" style="height: 110vh;">
    <div class="container wow fadeIn">
      <!-- Heading -->
      <h2 class="my-3 h2 font-weight-bold">Checkout</h2>

      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Card-->
          <div class="card ps-3">
            <!--Card content-->

            <!--Grid row-->
            <div class="row">
              <!--address-->
              <div class="md-form mb-5">
                <!-- Tabs navs -->
                <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
                  <li class="nav-item " role="presentation">
                    <a class="nav-link active" id="ex2-tab-1" data-mdb-toggle="tab" href="#ex2-tabs-2" role="tab"
                      aria-controls="ex2-tabs-1" aria-selected="true">CHOOSE AN ADDRESS</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link " id="ex2-tab-2" data-mdb-toggle="tab" href="#ex2-tabs-1" role="tab"
                      aria-controls="ex2-tabs-2" aria-selected="false">ADD ADDRESS</a>
                  </li>
                </ul>
                <!-- Tabs navs -->

                <!-- Tabs content -->
                <div class="tab-content" id="ex2-content">
                  <div class="tab-pane fade " id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1">
                    <form action="/add-address" method="post">
                      <div class="container">
                        <label>Address</label>
                        <div>
                          <textarea name="address" cols="70" rows="10"></textarea>
                        </div>
                        <div>
                          <button class="btn btn-dark mt-3">ADD</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade show active" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">
                    <form action="/place-order" id="checkout-form" method="post">
                      <%if(address){%>
                        <%for(i=0;i<address.length;i++){%>
                          <input type="radio" value="<%=address[i].address%>" name="address">
                          <%=address[i].address%> <br>
                            <%}%>
                              <%}else{%>
                                <span>No saved address</span>
                                <%}%>

                  </div>
                </div>
              </div>
              <form class="card-body" id="checkout-form">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="PIN">PIN code</label>
                  <input type="text" class="form-control" name="pincode" placeholder="" required />
                  <div class="invalid-feedback">PIN code required.</div>
                </div>
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="Mobile">Mobile</label>
                  <input type="number" class="form-control" name="mobile" placeholder="" required />
                  <input type="text" name="userId" id="" value="<%=user._id%>" hidden />
                  <div class="invalid-feedback">PIN code required.</div>
                </div>
            </div>
            <!--Grid row-->

            <div class="d-block my-3">
              <div>
                <input value="cod" onclick="displayCheckout()" name="paymentMethod" type="radio" required />
                <label class="custom">COD(Cash on Delivery)</label>
              </div>
              <div>
                <input value="credit"  onclick="displayCheckout()" name="paymentMethod" type="radio" required />
                <label class="custom">Credit card</label>
              </div>
              <div>
                <input value="debit"  onclick="displayCheckout()" name="paymentMethod" type="radio" required />
                <label class="custom">Debit card</label>
              </div>
              <div>
                <input value="paypal" onclick="displayPaypal()" name="paymentMethod"  type="radio" required />
                <label class="custom">Paypal</label>
              </div>
              <div class="text-center clr mt-2" style="width: 50%;" id="paypal"></div>
            </div>

            <div class="clr me-3 mb-3" id="checkout-button">
              <button class="btn btn-dark btn-lg btn-block" id="placeOrder" type="submit">
                Continue to checkout
              </button>
            </div>
            </form>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">


          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            
          </h4>

          <!-- Cart -->
         <div class="bg-light rounded p-3" >
          <ul class="list-group mb-3 z-depth-1">
            <h5 class="text-uppercase mb-3">Give code</h5>
  
                    <div class="mb-5">
                      <div class="form-outline ">
                        <span class="text-danger" id="err"></span>
                        <input type="text" name="total" value="<%=total%>" hidden>
                        <input type="text" id="form3Examplea2" name="name" class="form-control"/>
                        <label class="form-label text-dark" for="form3Examplea2">Enter your code</label>
                        <div class="d-flex flex-row-reverse bd-highlight">
                          <button class="btn btn-dark mt-2" type="submit" onclick="addCoupon()">apply</button>
                        </div>
                        <div class="mt-5">
                          <a data-toggle="modal" data-target="#exampleModal" class="text-danger" href="">Show Coupons</a>
                        </div>
                      
                       
                      </div>
                    </div>


                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Coupons</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <%for(i=0;i<coupon.length;i++){%>
                              <dl>
                                <dt><%=coupon[i].name%></dt>
                                <dd>DiscountPrice:<%=coupon[i].discount%>% || Expires on: <%=coupon[i].expirydate%> || <span class="text-danger"><sup>*</sup>min: <%=coupon[i].min%></span></dd>
                              </dl>
                              <%}%>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <li class="list-group-item d-flex justify-content-between">
                      <span>Total Price</span>
                      <strong>Rs.<span><%=total%></span></strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span>DiscountPrice</span>
                      <strong>Rs.<span id="discount">0.00</span></strong>
                    </li>

            <li class="list-group-item d-flex justify-content-between">
              <span>Total (INR)</span>
              <strong>Rs.<span id="totalA"><%=total%></span></strong>
            </li>
          </ul>
         </div>
          <!-- Cart -->

          <!-- Promo code -->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>
  <!--Main layout-->

  <script
    src="https://www.paypal.com/sdk/js?client-id=Aan2wbNoWBmxj2W1ARfP6KcOhf1NqUrF9VrWM1FYYFnBT4aFErHH0CqveX1MLfTUF2cJkRLnWbN0yrwd&currency=USD"
    data-namespace="paypal_sdk"></script>

  <script>

function displayCheckout() {
let list1 = document.getElementById("checkout-button").classList
let list2 = document.getElementById("paypal").classList;
list1.add('disbtn')
list2.remove('disbtn')
}

function displayPaypal() {
let list1 = document.getElementById("checkout-button").classList
let list2 = document.getElementById("paypal").classList;
list1.remove('disbtn')
list2.add('disbtn')

}
    //////////////////////////////////////////////////////RAZOR-PAY/////////////////////////////////////////////////////////////////////

    let rzp1 = {}
    $("#checkout-form").submit((e) => {
      e.preventDefault()
      $.ajax({
        url: '/place-order',
        method: 'post',
        data: $('#checkout-form').serialize(),
        success: (response) => {
          console.log( response);

          if (response.codSuccess) {
           
            location.href = '/order-placed'
          } else {
            
            console.log(response);
            razorpayPayment(response)
          }
        }
      })


      function razorpayPayment(order) {

        var options = {
          "key": "rzp_test_hoUa0LVqQYvuNv", // Enter the Key ID generated from the Dashboard
          "amount": order.amount * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "Nutra-Nation",
          "description": "Test Transaction",
          "image": "https://example.com/your_logo",
          "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "handler": function (response) {
            


            verifyPayment(response, order)
          },
          "prefill": {
            "name": "Goutham A",
            "email": "gouthamarkl@gmail.com",
            "contact": "9999999999"
          },
          "notes": {
            "address": "Nutra-Nation Pvt Ltd"
          },
          "theme": {
            "color": "#3399cc"
          }
        };
        rzp1 = new Razorpay(options);
        rzp1.open();

      }

      function verifyPayment(payment, order) {
        $.ajax({
          url: '/verify-payment',
          data: {
            payment,
            order
          },
          method: 'post',
          success: (response) => {
            if (response.status) {
              location.href = '/order-placed'
            } else {
              alert("payment Failed")
            }
          }
        })
      }

    })
    let final=0
    

    fetch('/getTotal', {
        method:'get',
      }).then(val => {
        return val.json()
      }).then(total => {
        
      final=20
      })

    ///////////////////////paypal////////////////////////////
  

    paypal.Buttons({
     


        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
          
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: final // Can also reference a variable or function
              }
            }]
          });
        
        },
          // Finalize the transaction after payer approval
          onApprove: (data, actions) => {
            return actions.order.capture().then(function (orderData) {
              // Successful capture! For dev/demo purposes:
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              const transaction = orderData.purchase_units[0].payments.captures[0];
              // When ready to go live, remove the alert and show a success message within this page. For example:
              // const element = document.getElementById('paypal-button-container');
              // element.innerHTML = '<h3>Thank you for your payment!</h3>';
              // Or go to another URL:  actions.redirect('thank_you.html');
              $("#placeOrder").trigger("click");
            });
          }
      }).render('#paypal');


  </script>


 
  <%-include('partials/footer')-%>