<%-include('partials/header')-%>

<section style="background-color:  #c4c4c4; height:80vh;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%=user.name%></h5>
              
              <div class="d-flex justify-content-center mb-2">
                <a class="btn btn-primary" href="" data-toggle="modal" data-target="#modalRegisterForm">Edit Profile</a>
              </div>
            </div>
          </div>


          <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Update Profile</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form action="/update-user" id="form"  method="post">
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <label data-error="wrong" data-success="right" for="orangeForm-name">Name</label>
            
          <input type="text" name="name" value="<%=user.name%>" class="form-control validate">
        </div>
        <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <label data-error="wrong" data-success="right" for="orangeForm-name">Username</label>
            
          <input type="text" name="username" value="<%=user.username%>" class="form-control validate">
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="orangeForm-email">Email</label>

          <input type="email"  name="email" value="<%=user.email%>" class="form-control validate">
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-mobile prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Mobile</label>

          <input  type="number" value="<%=user.phone%>" name="phone" class="form-control validate">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-dark">SAVE</button>
      </div>
    </form>
    </div>
  </div>
</div>



      


          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <a style="text-decoration: none;" href="/orders">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <p class="mb-0">Orders</p>
                        <i class="fas fa-box-open fa-lg text-warning"></i>
                    </li>
                </a>
               <a style="text-decoration: none;" href="">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                 
                    <p class="mb-0">Wishlist</p>
                    <i class="fas fa-heart fa-lg text-danger"></i>
                  </li>
               </a>
               <a style="text-decoration: none;" href="/cart">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                 
                    <p class="mb-0">Cart</p>
                    <i class="fas fa-shopping-cart fa-lg text-primary"></i>
                  </li>
               </a>
               
               
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=user.name%></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=user.email%></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=user.phone%></p>
                </div>
              </div>
              
            </div>
          </div>
          <div class="row">
            <div>
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4">Previous Orders
                  </p>
                  
                  

                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Date</th>
                            <th scope="col">Address</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                            <%for(i=0;i<orders.length;i++){%>
                               
                          <tr>
                            <td><%=i+1%></td>
                            <td><%=orders[i].date.toLocaleDateString()%></td>
                            <td><%=orders[i].deliveryDetails.address%></td>
                            <td><%=orders[i].totalAmount%></td>
                            <td class="text-success"><%=orders[i].status%></td>
                          </tr>
                            <%}%>
                       
                        </tbody>
                      </table>
                      
                     
                  
                 
                </div>
              </div>
            </div>
           
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%-include('partials/footer')-%>