<%-include('partials/header')-%>
<script src="/javascripts/zoomsl.js"></script>
<div class="container mt-5 mb-5">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-6 border-end">
          <div class="d-flex flex-column justify-content-center">
            <div class="main_image" id="img-container">
              <img
                src="/images/products/<%=product._id%>.jpg"
                id="zoom"
                width="350"
              />
            </div>
            <div class="thumbnail_images"> </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-3 right-side">
            <div class="d-flex justify-content-between align-items-center">
              <h3><%=product.name%></h3>
              <a href="" onclick="addToWishlist('<%=product._id%>')">
                <i style="font-size: 24px; color: red" class="fa">&#xf004;</i></a
              >
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              Category:<%=product.category%>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </div>
  
            <div class="mt-2 pr-3 content"> <p></p> </div>
            <h3>Rs.<%=product.price%></h3>
  
            <div class="buttons d-flex flex-row mt-5 gap-3">
              <button class="btn btn-outline-dark">Buy Now</button>
              <button class="btn btn-dark" onclick="addToCart('<%=product._id%>')"
                >Add to cart</button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 25vh"> </div>


    <!-- Section: Basic example -->
    <section class="">

      <p><strong>Basic example</strong></p>
  
      <div class="container my-5">
        <!-- Carousel wrapper -->
        <div
             id="carouselBasicExample"
             class="carousel slide carousel-dark text-center"
             data-mdb-ride="carousel"
             >
          <!-- Controls -->
          <div class="d-flex justify-content-center mb-4">
            <button
                    class="carousel-control-prev position-relative"
                    type="button"
                    data-mdb-target="#carouselBasicExample"
                    data-mdb-slide="prev"
                    >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
                    class="carousel-control-next position-relative"
                    type="button"
                    data-mdb-target="#carouselBasicExample"
                    data-mdb-slide="next"
                    >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- Inner -->
          <div class="carousel-inner py-4">
            <!-- Single item -->
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card">
                      <img
                           src="https://mdbootstrap.com/img/new/standard/nature/181.jpg"
                           class="card-img-top"
                           alt="..."
                           />
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="card">
                      <img
                           src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                           class="card-img-top"
                           alt="..."
                           />
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="card">
                      <img
                           src="https://mdbootstrap.com/img/new/standard/nature/183.jpg"
                           class="card-img-top"
                           alt="..."
                           />
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

          </div>
          <!-- Inner -->
        </div>
        <!-- Carousel wrapper -->
      </div>
  
    </section>
  
  <script>
    
  $(document).ready(function () {
   
    $("#zoom").imagezoomsl({
  
      zoomrange: [4, 4]
    });
  })
</script>
 
                                                                    
<%-include('partials/footer')-%>