<%-include('partials/header')-%>
<div class="container mt-5 mb-5">	
    <div class="card">	
        <div class="row g-0">	
            <div class="col-md-6 border-end">
                	<div class="d-flex flex-column justify-content-center">	
                        <div class="main_image">	
                            <img class="zoom" src="/images/products/<%=product._id%>.jpg" id="main_product_image" width="350">	</div>
                            	<div class="thumbnail_images">	
                                   
                                	</div>	
                                </div>	
                            </div>	
                            <div class="col-md-6">	<div class="p-3 right-side">	
                                <div class="d-flex justify-content-between align-items-center">	<h3><%=product.name%></h3>	
                                    <span class="heart"><i class='bx bx-heart'></i></span>	
                                </div>

                                <div class="d-flex justify-content-between align-items-center"> Category:	<%=product.category%>
                                    	
                                </div>
                                <div class="d-flex justify-content-between align-items-center">	<p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>	
                                   
                                </div>
                                
                                	<div class="mt-2 pr-3 content">	<p></p>
                                    	</div>	
                                        <h3>Rs.<%=product.price%></h3>	
                                       
                                               	
                                                                <div class="buttons d-flex flex-row mt-5 gap-3">
                                                                    	<button class="btn btn-outline-dark">Buy Now</button>	
                                                                       <a href="/add-to-cart/<%=product._id%>"> <button class="btn btn-dark">Add to cart</button></a>	
                                                                    </div>	
                                                                    
                                                                        </div>
                                                                    	</div>
                                                                    	</div>
                                                                    	</div>
                                                                     </div>
                                                                     <div style="height: 25vh;">
                                                                        
                                                                    </div>

                                                                     
<%-include('partials/footer')-%>