<%-include('partials/admin-header')-%>

<section>
    <div class="container">
        
        <div class="row">
            <div class="col-12 card mb-4  bg-light  d-flex align-items-center" style="background-color:#E0E0E0 !important; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <div class="col-md-10 mt-4">

                    <table class="table  table-striped nowrap" id="form">
                        <thead >
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Date</th>
                                <th scope="col">Address</th>
                                <th scope="col">pincode</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Amount</th>
                                <th scope="col">status</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                           <%for(i=0;i<orders.length;i++){%>
                            <tr>
                                <th scope="row"><%=i+1%></th>
                                <td><%=orders[i].date.toLocaleDateString()%></td>
                                <td><%=orders[i].deliveryDetails.address%></td>
                                <td><%=orders[i].deliveryDetails.pincode%></td>
                                <td><%=orders[i].deliveryDetails.mobile%></td>
                                <td><%=orders[i].totalAmount%></td>
          
                               
                                <td>
                                    <%if(orders[i].status!='Cancelled'){%>
                                        <form action="/admin/change-status?id=<%=orders[i]._id%>" method="post">
                                            <select class="form-select" name="status" aria-label="Default select example">
                                                <option selected><%=orders[i].status%></option>
                                                <option value="Shipped">Shipped</option>
                                                <option value="Out for delivery">Out for delivery</option>
                                                <option value="Delivered">Delivered</option>
                                                <option value="Cancelled">Cancel</option>
                                              </select>
                                              <button class="btn btn-dark" type="submit"> confirm</button>
        
                                        </form>
        
                                        <%}else if(orders.status=='Delivered'){%>
                                            <span class="text-success font-weight-bold"> <%=orders[i].status%></span>
                                      
                                      <%}else{%>
                                        <span class="text-muted font-weight-bold"> <%=orders[i].status%></span>
                                        <%}%>
                                  
                                  </td>
                                   
                                
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                 
                </div>
              </div>
           
        </div>
  
    </div>
  </section>
  


<%-include('partials/admin-footer')-%>